<%= link_to 'Post a new picture', new_picture_path %>
<% @pictures.each do |picture| %>
  <div class="picture-summary-container">
    <div class="picture-author">
    <%= "##{picture.user.username}" %>
    </div>
    <div>
      <%= link_to image_tag(picture.picture, width: '100%'), picture, id: picture.id %>
      <%= picture.caption %>
    </div>
    <div>
      <%= form_with model: [ picture, picture.comments.build ], local: true do |form| %>
        <%= form.text_field :text, id: "comment_#{picture.id}" %>
        <%= form.submit id: "submit_comment_#{picture.id}" %>
      <% end %>
    </div>
  </div>
<% end %>
