<h1>A single picture</h1>
<div class="picture-single-container">
  <div>
    <%= link_to logged_in_user do %>
      <%= "Posted by #{@picture.user.username}" %>
    <% end %>
  </div>
  <div>
    <%= image_tag(@picture.picture, width: '100%') %>
  </div>
  <div>
    <%= @picture.caption %>
  </div>
  <div>
    <%= form_with model: [ @picture, @picture.likes.build ], local: true do |form| %>
      <% if @picture.user.id != logged_in_user.id %>
        <%= form.submit pluralize(@picture.likes.length - 1, 'like'), id: 'like_picture' %>
      <% else %>
        <%= form.submit pluralize(@picture.likes.length - 1, 'like'), id: 'like_picture', disabled: true %>
      <% end %>
    <% end %>
  </div>

  <div>
    <% @picture.comments.each do |comment| %>        
      <div class="comment">
        <div class="comment-author-time">
          <%= "##{comment.user.username} - #{comment.created_at.strftime("%R - %d/%m/%Y")}" %> 
        </div>
        <div>
          <%= comment.text %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= form_with model: [ @picture, @picture.comments.build ], local: true do |form| %>
      <%= form.text_field :text, id: "comment_#{@picture.id}" %>
      <%= form.submit id: "submit_comment_#{@picture.id}" %>
    <% end %>
  </div>
</div>